.wrapper {
  height: 100vh;
  background: #1B1C2B;
}

.submit-button {
  color: #FFF;
  background: #5300E2;
  border-top: 3px solid #878787;
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
  border-left: 3px solid #878787;
  border-radius: 20px;
  cursor: pointer;
}

.submit-button:disabled {
  cursor: not-allowed;
}